<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>가볼가 :: <%= title || '미등록된 장소' %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/gabolga.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%
  const desc = req.baseUrl !== '/tweet' ? '가볼까 싶은 트위터 맛집들, \'가볼가\'가 대신 정리해드립니다!'
    : !isRegistered ? '장소를 등록해주세요' 
    : roadAddress ? `${roadAddress}(${address})` : address;
  %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GABOLGA_bot">
  <meta name="twitter:title" content="가볼가 :: <%= title || '미등록된 장소' %>">
  <meta name="twitter:description" content="<%= desc %>">
  <meta name="twitter:image" content="//<%= req.hostname %>/img/gabolga_w.png">
  <meta name="og:title" content="가볼가 :: <%= title || '미등록된 장소' %>">
  <meta name="og:description" content="<%= desc %>">
  <meta name="og:image" content="//<%= req.hostname %>/img/gabolga_w.png">
</head>
<body <%- (req.path === '/map' || req.baseUrl === '/tweet') ? 'class="include_map"' : '' %>>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <%- req.baseUrl === '/tweet' ? '<script src="/js/clipboard.min.js"></script>' : '' %>

  <nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

      <a href="/" class="navbar-brand">가볼가</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item <%= req.path === '/map' ? 'active' : '' %>">
          <a class="nav-link <%= req.session.isLogin ? 'text-dark' : '' %>" href="/my/map" title="가볼가 한 장소를 지도로 모아보세요!"><%= req.session.isLogin ? `${req.session.screen_name} 님의 지도` : '내 지도' %></a>
        </li>
        <% if (req.session.isLogin) { %>
          <li class="nav-item <%= req.path === '/list' ? 'active' : '' %>">
            <a class="nav-link <%= req.session.isLogin ? 'text-dark' : '' %>" href="/my/list" title="가볼가 한 장소를 목록으로 모아보세요!">(목록으로 보기)</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link <%= req.session.isLogin ? '' : 'text-dark' %>" href="/random" title="등록된 트윗을 랜덤으로 보여드립니다!">랜덤 트윗</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/GABOLGA_bot" target="_blank" title="DM으로 편하게 등록하세요!">@GABOLGA_bot(새 창)</a>
        </li>
      </ul>

      <form action="/api/tweet" class="form-inline">
        <div class="input-group">
          <input type="url" name="url" class="form-control" required placeholder="트윗 링크" aria-label="트윗 링크">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary" type="submit">장소 찾기</button>
          </span>
        </div>
      </form>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% if (req.session.isLogin) { %>
    <button onclick="location.href='/logout?refer=<%= req.originalUrl %>'" class="btn btn-outline-success" type="button">로그아웃</button>
  <% } else { %>
    <a href="/login?refer=<%= req.originalUrl %>" alt="Sign in with Twitter"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a>
  <% } %>
  </nav>
