<!DOCTYPE html>
<html>
<head>
  <%- include('analytics') %>
  <meta charset="utf-8">
  <title><%= title || '미등록된 장소' %> :: 가볼가</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
  <link rel="stylesheet" href="/css/gabolga.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <script src="/js/viewport.js"></script>
  <%
  const desc = req.baseUrl !== '/tweet' ? '가볼까 싶은 트위터 맛집들, \'가볼가\'가 지도로 정리해드립니다!'
    : !isRegistered ? '장소를 등록해주세요' 
    : roadAddress ? `${roadAddress}(${address})` : address;
  %>
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GABOLGA_bot">
  <meta name="twitter:title" content="가볼가 :: <%= title || '미등록된 장소' %>">
  <meta name="twitter:description" content="<%= desc %>">
  <meta name="twitter:image" content="<%- (req.baseUrl === '/tweet' && lat) ? `https://gabolga.gamjaa.com/api/thumb?lat=${lat}&lng=${lng}` : 'https://gabolga.gamjaa.com/img/gabolga_w.png' %>">
  <meta name="og:title" content="가볼가 :: <%= title || '미등록된 장소' %>">
  <meta name="og:description" content="<%= desc %>">
  <meta name="og:image" content="<%- (req.baseUrl === '/tweet' && lat) ? `https://gabolga.gamjaa.com/api/thumb?lat=${lat}&lng=${lng}` : 'https://gabolga.gamjaa.com/img/gabolga_w.png' %>">
</head>
<body <%- (req.path === '/map' || req.baseUrl === '/tweet') ? 'class="include_map"' : '' %>>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

      <a href="/" class="navbar-brand">가볼가</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item <%= req.path === '/map' ? 'active' : '' %>">
          <a class="nav-link <%= req.session.isLogin ? 'text-dark' : '' %>" href="/my/map" title="가볼가 한 장소를 지도로 모아보세요!" onclick="gtag('event', '내지도')"><%= req.session.isLogin ? `${req.session.screen_name} 님의 지도` : '내 지도' %></a>
        </li>
        <% if (req.session.isLogin) { %>
          <li class="nav-item <%= req.path === '/list' ? 'active' : '' %>">
            <a class="nav-link <%= req.session.isLogin ? 'text-dark' : '' %>" href="/my/list" title="가볼가 한 장소를 목록으로 모아보세요!" onclick="gtag('event', '내목록')">(목록으로 보기)</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/random" title="등록된 트윗을 랜덤으로 보여드립니다!" onclick="gtag('event', '랜덤트윗')">랜덤 트윗</a>
        </li>
        <li class="nav-item <%= req.path === '/guide' ? 'active' : '' %>">
            <a class="nav-link <%= req.session.isLogin ? '' : 'text-dark' %>" href="/guide" title="가볼가 사용 안내" onclick="gtag('event', '사용법')">사용법</a>
        </li>
        <% if (req.session.isLogin) { %>
          <li class="nav-item <%= req.path === '/setting' ? 'active' : '' %>">
            <a class="nav-link" href="/my/setting" title="가볼가 기능 설정" onclick="gtag('event', '설정')">설정</a>
          </li>
        <% } %>
      </ul>

      <form action="/api/tweet" class="form-inline">
        <div class="input-group">
          <input name="url" class="form-control" required minlength="2" placeholder="트윗 링크 / 검색어" aria-label="트윗 링크 / 검색어">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" onclick="gtag('event', '트윗검색')">장소 찾기</button>
          </div>
        </div>
      </form>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% if (req.session.isLogin) { %>
    <button onclick="gtag('event', '로그아웃'); location.href='/logout?refer=<%= req.baseUrl === '/my' ? '/' : req.originalUrl %>'" class="btn btn-outline-success" type="button">로그아웃</button>
  <% } else { %>
    <a href="/login?refer=<%= req.originalUrl %>" alt="Sign in with Twitter" onclick="gtag('event', '로그인')"><img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a>
  <% } %>
  </nav>
