<%- include('header') %>
<div class="container center">
    <div>
        <img src="/img/gabolga.png" style="width: 300px; max-width: 50%; height: auto;">
        <h3 class="center">가볼까 싶은 트위터 맛집,</h3>
        <h3 class="center">지도로 정리해드립니다!</h3>
        <br>
        <form action="/api/tweet" class="row justify-content-center">
            <div class="input-group col-8">
            <input name="url" id="url" class="form-control" required minlength="2" placeholder="https://twitter.com/GABOLGA_bot/status/905073894515556352">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" onclick="if ($('#url').val() === '') $('#url').val('https://twitter.com/GABOLGA_bot/status/905073894515556352')">장소 찾기</button>
            </span>
            </div>
        </form>
    </div>
    <div>
        <table id="gabolga_rank" class="table table-hover mx-auto">
        <caption>최근 24시간 가볼가 순위</caption>
        <thead>
            <tr>
            <th scope="col">순위</th>
            <th scope="col">장소명</th>
            </tr>
        </thead>
        <tbody>
            <% rankedTweets.forEach((row, index) => { %>
                <tr style="cursor: pointer" onclick="window.open('/tweet/<%= row.tweet_id %>', '_blank')">
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= row.name %></td>
                </tr>
            <% }) %>
        </tbody>
        </table>
    </div>
    <div>
        <span class="center gray">등록을 기다리는 트윗</span>
        <div style="margin: 10px auto; width: 550px; max-width: 100%;">
        <%- include('tweetObject', {tweet: unregisteredTweet, link: `/tweet/${unregisteredTweet.id_str}`}); -%>
        </div>
    </div>
</div>
<%- include('footer') %>