<%- include('header') %>
<div class="container">
  <h3>
    내 지도(목록으로 보기)
    <small class="text-muted">가볼가 한 장소를 목록으로 볼 수 있어요.</small>
  </h3>
  <table id="list" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th onclick="order('name')">이름</th>
      <th class="mobile" onclick="order('address')">주소</th>
      <th class="mobile" onclick="order('phone')">전화번호</th>
      <th class="mobile" onclick="order('add_time')">추가일</th>
      <th>-</th>
      <script>
        const orderBy = '<%= req.query.order_by || 'address' %>';
        const orderType = '<%= req.query.order_type || 'asc' %>';

        const order = newOrderBy => {
            if (orderBy === newOrderBy) {
                const newOrderType = orderType === 'asc' ? 'desc' : 'asc';
                location.href = `/my/list?order_by=${orderBy}&order_type=${newOrderType}`;
                return;
            }

            location.href = `/my/list?order_by=${newOrderBy}&order_type=asc`;
        };
      </script>
    </tr>
  </thead>
  <tbody>
    <% if (!rows.length) { %>
        <tr>
            <td colspan="6">앗! 가볼가 한 트윗이 없어요!</td>
        </tr>
    <% } else { 
        rows.forEach((row, index) => { %>
            <tr>
                <th onclick="link('<%= row.tweet_id %>')" scope="row"><%= index +1 %></th>
                <% if (!row.name) { %>
                    <td class="text-muted" onclick="link('<%= row.tweet_id %>')">미등록된 장소</td>
                    <td class="mobile text-muted" onclick="link('<%= row.tweet_id %>')">장소 정보를 등록해주세요 ;^;</td>
                    <td class="mobile text-muted" onclick="link('<%= row.tweet_id %>')">-</td>
                <% } else { %>
                    <td onclick="link('<%= row.tweet_id %>')"><%= row.name %></td>
                    <% if (row.road_address) { %>
                        <td class="mobile" onclick="link('<%= row.tweet_id %>')">
                            <%= row.road_address %><br>
                            <span class="text-muted">(<%= row.address %>)</span>
                        </td>
                    <% } else { %>
                        <td class="mobile" onclick="link('<%= row.tweet_id %>')"><%= row.address %></td>
                    <% } %>
                    <td class="mobile" onclick="link('<%= row.tweet_id %>')"><%= row.phone || '-' %></td>
                    <% } %>
                <td class="mobile" onclick="link('<%= row.tweet_id %>')"><%= moment(row.add_time).format('YY/MM/DD') %></td>
                <td><button id="<%= row.tweet_id %>" class="btn btn-danger list_btn" onclick="gabolga('<%= row.tweet_id %>')">가볼가 취소</button></td>
            </tr>
        <% })
    } %>
  </tbody>
</table>

<script>
    function httpGet(url, callback) {
        const http = new XMLHttpRequest();
        http.open('GET', url, true);
        http.onreadystatechange = function () {
        if (http.readyState === 4 && typeof callback === 'function') {
            callback(JSON.parse(http.responseText));
        }
        };
        http.send();
    }
    const gabolga = (id) => {
        const btn = document.getElementById(id);
        httpGet(`/api/gabolga/${id}`, ({isGabolga}) => {
            if (isGabolga) {
                gtag('event', '가볼가하기');
                btn.innerText = '가볼가 취소';
                btn.classList.add('btn-danger');
                btn.classList.remove('btn-primary');
            } else {
                gtag('event', '가볼가취소');
                btn.innerText = '가볼가 하기';
                btn.classList.add('btn-primary');
                btn.classList.remove('btn-danger');
            }
        });
    }
    function link(tweet_id) {
        window.open(`/tweet/${tweet_id}`, '_blank');
    }
    </script>
</div>
<%- include('footer') %>