<%- include('header') %>
<div class="container">
  <h3>
    <%= req.query.q %>
    <small class="text-muted">에 대한 검색 결과입니다. (총 <%= rows.length %>개)</small>
  </h3>
  <table id="list" class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>이름</th>
      <th>주소</th>
      <th class="mobile">전화번호</th>
      <% if (req.session.isLogin) { %>
          <th>-</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% if (!rows.length) { %>
        <tr>
            <td colspan="6">검색 결과가 없네요,,,</td>
        </tr>
    <% } else { 
        rows.forEach((row, index) => { %>
            <tr>
                <th onclick="link('<%= row.tweet_id %>')" scope="row"><%= index +1 %></th>
                    <td onclick="link('<%= row.tweet_id %>')"><%= row.name %></td>
                    <% if (row.road_address) { %>
                        <td onclick="link('<%= row.tweet_id %>')"><%= row.road_address %><br>(<%- row.address %>)</td>
                    <% } else { %>
                        <td onclick="link('<%= row.tweet_id %>')"><%= row.address %></td>
                    <% } %>
                    <td class="mobile" onclick="link('<%= row.tweet_id %>')"><%= row.phone || '-' %></td>
                <% if (req.session.isLogin) { %>
                <td><button id="<%= row.tweet_id %>" class="btn <%= row.user_id ? 'btn-danger' : 'btn-primary' %> list_btn" onclick="gabolga('<%= row.tweet_id %>')"><%= row.user_id ? '가볼가 취소' : '가볼가 하기' %></button></td>
                <% } %>
            </tr>
        <% })
    } %>
  </tbody>
</table>

<script>
    const listTable = document.getElementById('list');
    const q = '<%= req.query.q %>';
    const regex = new RegExp(`${q.split(' ').join('|')}`, 'g');
    window.onload = () => {
        for (let i = listTable.rows.length - 1; i > 0; i--) {
            const name = listTable.rows[i].cells[1];
            const address = listTable.rows[i].cells[2];
            name.innerHTML = name.innerHTML.replace(regex, `<b>$&</b>`);
            address.innerHTML = address.innerHTML.replace(regex, `<b>$&</b>`);
        }
    };
    function httpGet(url, callback) {
        const http = new XMLHttpRequest();
        http.open('GET', url, true);
        http.onreadystatechange = function () {
        if (http.readyState === 4 && typeof callback === 'function') {
            callback(JSON.parse(http.responseText));
        }
        };
        http.send();
    }
    const gabolga = (id) => {
        const btn = document.getElementById(id);
        httpGet(`/api/gabolga/${id}`, ({isGabolga}) => {
            if (isGabolga) {
                gtag('event', '가볼가하기');
                btn.innerText = '가볼가 취소';
                btn.classList.add('btn-danger');
                btn.classList.remove('btn-primary');
            } else {
                gtag('event', '가볼가취소');
                btn.innerText = '가볼가 하기';
                btn.classList.add('btn-primary');
                btn.classList.remove('btn-danger');
            }
        });
    }
    function link(tweet_id) {
        window.open(`/tweet/${tweet_id}`, '_blank');
    }
    </script>
</div>
<%- include('footer') %>